@import "tailwindcss";
.glow {
  text-shadow: 0 0 5px rgba(240, 156, 156, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(240, 156, 156, 0.8), 0 0 10px rgba(7, 214, 128, 0.6),
    0 0 15px rgba(60, 230, 55, 0.4);
}
.logged-in {
  color: #4ade80; /* Tailwind green-400 */
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #34d399; /* Tailwind green-500 */
  text-underline-offset: 4px;

  padding: 4px;
}
.notlogged {
  color: #f87171; /* Tailwind red-400 */
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ef4444; /* Tailwind red-500 */
  text-underline-offset: 4px;
  padding: 4px;
}
.logged {
  color: #4ade80; /* Tailwind green-400 */
}
